 /* To cover the image to give fade effect */
 .whiteFadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
  }
/* About - BPL */
  #intro{
    margin-top: 0;
    padding: 50px 20% 50px 10%;
    display: flex;
    /* height: 100vh; */
  
    background: url('../../public/pictures/small-group-learning.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: left;
  }
  #title{
    /* position: relative; */
    left: 0;
    top: -100vh;
    margin-top: 85px;
    padding: 3%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(248, 249, 250,0.70);
  }

  @media only screen and (max-width:1000px){
    #title{
      width: 100%;
    }
  }
  @media only screen and (max-width:700px){
 
    #title h1{
      font-size: calc(1.175rem + 1.5vw);
    }
    #title h4{
      font-size: 1.25rem;
    }
    #title .link-btn{
      font-size: 1.25rem;
    }
  }
#advantage{
    text-align: center;
}
