/* Carousel */

.carousel{
    margin-top: 60px;
  }
  .carousel-slide{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 7.5%; */
    position: relative;
    background-color: var(--clr-dark);
  }
  .carousel img{
    height: 25vh;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-link{
    height: 20vh;
    min-height: 85px;
    padding: 1% 10%;
    color: var(--clr-white);
    background-color: var(--clr-dark);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .carousel-link:hover{
    color: var(--clr-light)
  }
 
  .carousel-control-next-icon, 
  .carousel-control-prev-icon{
    position: absolute;
    bottom: 15%
  }
  @media (max-width:700px) {
    .carousel-slide h2{
      font-size: 1.75rem;
    }
    .carousel-slide h6{
      font-size: 0.75rem;
    }
  }
  .visually-hidden{
    display: none;
  }
  .carousel-indicators{
    display: none;
  }
  /* Homepage -  mission section*/
  #intro-mission{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #intro-mission>*{
    margin-top: 2.5%
  }
 #intro-mission-inner{
    position: relative;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @media(max-width:800px){
    #intro-mission-inner{
      flex-direction: column;
      height: 1000px;
    }
  
  }
  .intro-mission-half{
    flex: 1;
    position: relative;
  }
  .white-fade-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .intro-mission-txt{
    position: absolute;
    top: 5%;
    z-index: 10;
    width: 100%;
    height: 90%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .intro-mission-txt>h2,
  .intro-mission-half>img{
    max-width: 100%;
    height: 100%;
    object-fit: cover ;
  }
  .intro-mission-txt>a{
    text-decoration: none;
  }
  .intro-mission-txt>a:hover{
    text-decoration: none;
    color: white;
  } 
  



  /* Homepage - features section */
  #intro-features{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  .features-outer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-outer h2{
    margin-bottom: 5%;
  }
  #services{
    margin-bottom: 5%;
  }
  .features-inner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .provide-feature{
    margin: 0 auto 7.5% auto;
    width:  30%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .provide-feature>img{
    width: 225px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 5px; */
    box-shadow: 0 0 5px white;
  }
  #intro-events{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  
  