/* Team Section */
section#team{
    text-align: center;
    margin-top: 10%;
  }
  #team img{
    max-width: 200px;
    height: 260px;
    object-fit: cover;
  }
  #team .anchor{
    padding: 0;
  }
  .teamContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .teamCard{
    position: relative;
    margin: 5px;
    padding: 10px;
    width: 225px;
    transition: box-shadow 0.3s;
    border: none;
    background-color: transparent;
  }
  .teamCard:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--clr-dark);
  }
  .teamCard h4{
    font-size: 1.25em;
    font-weight: bold;
  }
  .teamCard h5{
    font-size: 1.10em;
  }
  .teamCard p{
    font-size: 1em;
  }
  .teamCard:focus{
    outline: none;
    box-shadow: 0 0 5px var(--clr-dark);
  }
  .fullBio{
    position: absolute;
    width: 68px;
    left: 50%;
    margin-left: -34px;
    bottom: 2px;
    opacity:0;
    transition: opacity 0.3s;
  }
  .teamCard:hover .fullBio{
    opacity: 1.0;
  }
  @media only screen and (max-width: 700px){
    #teamContainer{
      flex-direction: column;
      align-items: center;
    }
    .teamCard{
      max-width: 90%;
      width: 90%;
    }
  }
  @media only screen and (max-width:800px){
    .teamCard{
      box-shadow: 0 0 5px var(--clr-dark);
    }
    .fullBio{
      opacity: 1.0;
    }
  }
  .modal-body{
    text-align: justify;
  }
  

   /* Photo Gallery and lightbox */

#galleryHeader{
    padding: 50px 0 50px 0;
    margin-bottom: 0;
  }
  #gallery-section .btn-secondary{
    background-color: var(--clr-dark);
    border: none;
    border-radius: 0;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  @media(max-width: 700px){
    #gallery-section .btn-secondary{
      font-size: 1em;
    }
  }
  .lowDropdownBtn{
    opacity: 0;
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    transition: opacity 0.3s;
  }
  .lowDropdownBtn.show-low{
    opacity: 100;
  }
  .lowDropdownBtn>button{
    background-color: var(--clr-dark);
    border: none;
    border-radius: 0;
    padding: 10px;
  }
  .lowDropdownBtn>button:hover{
    background-color: var(--clr-btnHov);
  }
  .lowDropdownBtn.dropdown-toggle{
    background-color: var(--clr-dark) !important;
    outline-color: var(--clr-light) !important;
  }
  
  @media(max-width:700px){
    .lowDropdownBtn{
      box-shadow: 0 0 10px var(--clr-dark);
    }
  }
  #gallery-section .btn-secondary:hover,
  #gallery-section .btn-secondary:focus,
  .lowDropdownBtn .btn-secondary:hover,
  .lowDropdownBtn .btn-secondary:focus{
    background-color: var(--clr-btnHov);
  }
  .link-button{
    text-decoration: none;
    color: white;
    background-color: var(--clr-dark);
    padding: 10px;
    transition: background-color 0.3s;
  }
  .link-button:hover,
  .link-button:focus{
    color: white;
    background-color: var(--clr-btnHov);
  }
  section#gallery-section{
    position: relative;
    margin-bottom: 100px;
  }
  .gallery-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-img{
    height: 200px;
    object-fit: contain;
    cursor: pointer;
    margin: 0 10px 10px 0;
  }
  .gallery-container img.lazy{
    width: 250px;
    background: var(--clr-dark);
    display: inline-block;
  }
  .gallery-container img:hover{
    box-shadow: 0 0 10px var(--clr-dark);
  }
  /* .gallery-anchor{
    position: relative;
    scroll-padding-top: 200px;
  } */
  .gallery-event{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .gallery-container h4{
    font-size: 2em;
    margin: 2.5% 0 5% 0;
  }
  
  iframe.gallery-video{
    width: 100%;
    height: 300px;
    padding: 5%;
  }
  .video-div{
    max-width: 50%;
    flex: 1;
    padding: 2.5%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--clr-dark);
  }
  #lightbox{
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    right:0;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-dark);
    z-index: 100;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
  }
  #modal-content{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5% auto;
  }
  #modal-content img{
    height: 400px;
    max-width: 60%;
    object-fit: contain;
  }
  #caption{
    color: white;
    display: flex;
    justify-content: center;
  }
  .slide-arrow{
    font-size: 100px;
    cursor: pointer;
    height: fit-content;
    position: fixed;
    top: 40%;
    border: none;
    color: white;
    background-color: var(--clr-dark);
  }
  .slide-arrow:focus{
    outline: none
  }
  .next{
    right: 100px;
  }
  .prev{
    left: 100px
  }
  .slide-arrow:hover,
  .close-modal:hover{
    color: var(--clr-light)
  }
  .close-modal{
    z-index: 10;
    color: white;
    font-size: 50px;
  }
  #close-modal-wide{
    position: fixed;
    top: 70px;
    right: 50px;
  }
  .cursor{
    cursor: pointer;
  }
  #mobile-slide-arrows{
    display: none;
    width: 80%;
    padding: 0;
  }
  .mobile-slide-arrow{
    display: none;
  }
  @media(max-width: 700px){
    .slide-arrow{
      display: none;
    }
    #mobile-slide-arrows{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
    }
    .mobile-slide-arrow{
      display: block;
      font-size: 50px;
      text-decoration: none;
      color: var(--clr-white);
      background-color: var(--clr-dark);
      border: none;
      cursor: pointer;
      height: fit-content;
    }
    #close-modal-wide{
      display: none;
    }
  }
  @media(max-width: 700px){
    #gallery-container{
      justify-content: center;
    }
    #gallery-container img{
      width: 100%;
    }
    #modal-content{
      width: 100%;
    }
    #modal-content img{
      max-height: 100%;
      width: 100vw;
      max-width: 100%;
    }
    #gallery-container img:hover,
    #gallery-container img:focus{
      box-shadow: none;
    }
  }
  #modal-content .full-size{
    height: 100vh;
    max-width: 100vw;
    z-index: 10
  }
  /* Contact Page */
   /* For Google form */
#contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-us iframe{
    height: 1200px;
    margin: 25px;
}

/* Schools page */
#schools{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
#schools h3,
#schools a{
  margin: 0 auto 5% auto;
}
.schools-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 150vh;
  margin-bottom: 5%;
}

.schools-div ul{
  text-indent: -20px;
  margin-left: 30px
}
.schools-div li{
  list-style: none;
}
.country{
  font-weight: 900;
}