/* ABOUT LOMDEI - top section */

#aboutLomdei{
    margin-top: 58px;
    padding: 50px 20% 50px 10%;
    /* min-height: 100vh; */
    /* Add background picture! */
    background: url('../../public/pictures/IMG_0609.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: left;
}
  @media only screen and (max-width: 700px){
    section#aboutLomdei{
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}
section#aboutLomdei .title>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.title{
    margin-top: 3%;
    min-height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    background-color: rgba(248, 249, 250,0.70);
  }
  @media only screen and (max-width:1000px){
      .title{
          width: 100%;
      }
      .title h3{
        /* font-size: 30px */
      }
  }
/* About Lomdei - counters  */
#counters-section{
    width: 90%;
    margin: 5% auto;
}
#counters-section>h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 5%;
}
#counters{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}
#counters>div{
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}
.counters-inner{
  margin: 0 1.5%;
}
.counter{
    font-size: 3em;
}

/* About lomdei - promo videos */
#promoVideos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
@media only screen and (max-width:900px){
    section#promoVideos{
        flex-direction: column;
        align-items: center;
    }
}
iframe.video{
    height: 80vh;
    width: 48%;
    box-shadow: 0 0 5px var(--clr-dark);
}
@media only screen and (max-width:900px){
    iframe.video{
        width: 95%;
        margin-bottom: 5%;
    }
}
/* footer - supplementary only; see nav-header-footer for main styles */
footer#footer{
  margin-top: 5%;
}
/* About lomdei - benefits and features */
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 90%;
    margin: 0 auto;
}
.infoBox{
    margin-bottom: 2.5%;
    width: 100% !important;
}
.info{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
@media only screen and (max-width: 900px) {
    .infoContainer   {
        flex-direction: column;
        align-items: center;
    }
    .info{
        width: 95%
    }
}

.infoBox>div{
    width: 100%;
    font-size: 1.5em;
}
div.infoBox>div>button{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
div.infoBox>div>button:hover{
    background-color: var(--clr-dark);
    color: var(--clr-white)
}
button.infoTitle{
    border: none;
    width: 100%;
    padding: 1px 6px;
}
.collapse{
    width: 100%;
}
.bigbold{
    font-weight: 900;
    font-size: 1.75em;
    transform: translateY(-3px);
    margin-right: 5px;
}
.infoBox>div>button:hover .bigbold{
    color: var(--clr-white)
}
.card{
    font-size: .75em;
}

/* Video Tutorials Page */
.list-group{
    width: 30%;
    float: right;
    position: sticky;
    top: 100px;
    margin-right: 2.5%;
  }
  .showIt{
    display: none !important;
  }
  .contentsDropup{
    position: fixed;
    z-index: 99;
    bottom: 2.5%;
    right: 2.5%;
    box-shadow: 0 0 5px var(--clr-dark);
    border-radius: .25rem;
  }
  @media(min-width:800px){
    .contentsDropup{
      display: none;
    }
  }
  #dropupButton{
    background-color: var(--clr-dark);
    color: var(--clr-white);
  }
  #dropupButton:hover{
    background-color: var(--clr-btnHov);
  }
  
  @media only screen and (max-width: 800px){
    .list-group{
      float: none;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 0px;
    }
    hr.dropdown-divider{
      display: none;
    }
    .showIt{
      display: block !important;
    }
  }
  .list-group-item{
    background-color: var(--clr-dark);
    color: var(--clr-white)
  }
  span.videoAnchor{
    margin-top: -78px;
    padding-bottom: 78px;
  }
  section#tVideos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
  }
  .videoContainer{
    margin-bottom: 5%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  iframe.tVideo{
    width: 100%;
    height: 500px;
  }
  @media only screen and (max-width:800px){
    section#tVideos{
      width: 90%;
      margin: 0 auto;
    }
    .videoContainer{
      width: 95%;
    }
    iframe.tVideo{
      height: 300px;
    }
  }
